<a href="https://colab.research.google.com/github/gloriii03/Python-Program/blob/main/Copy_of_Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
sum = num1 + num2
print("The sum is:",sum)

Enter first number: 45
Enter second number: 56
The sum is: 101.0

In [ ]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print(f"{num} is even.")
else:
    print(f"{num} is odd.")

Enter a number: 34
34 is even.

In [ ]:
num = int(input("Enter a number: "))
for i in range(1, 11):
    print(f"{num} x {i} = {num*i}")

Enter a number: 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

largest = num1

if num2 > largest:
    largest = num2
if num3 > largest:
    largest = num3

print(f"The largest number is {largest}")

Enter first number: 2
Enter second number: 7
Enter third number: 5
The largest number is 7.0

In [ ]:
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print(f"{celsius}°C is equal to {fahrenheit}°F.")

Enter temperature in Celsius: 20
20.0°C is equal to 68.0°F.

In [ ]:
num = float(input("Enter a number: "))
if num > 0:
    print(f"{num} is positive.")
elif num < 0:
    print(f"{num} is negative.")
else:
    print(f"{num} is zero.")

Enter a number: 4
4.0 is positive.

In [ ]:
print("Hello, World!")

Hello, World!

In [ ]:
"Variables and Data Types"
x = 10      # Integer
y = 3.14    # Float
name = "sumit"  # String
is_active = True  # Boolean
print(x, y, name, is_active)

10 3.14 sumit True

In [ ]:
#IF ELSE STATEMENT
age = 18
if age >= 18:
    print("Adult")
else:
    print("Not an adult")

Adult

In [ ]:
"FOR LOOP"
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [ ]:
"WHILE LOOP"
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [ ]:
def greet(name):
    print("Hello", name)

greet("SUMIT")

Hello SUMIT

In [ ]:
"RETURN FROM FUNCTION"
def add_numbers(a, b):
    return a + b

result = add_numbers(9, 3)
print(result)

12

In [ ]:
"LIST AND LOOP THROUGH IT"
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [ ]:
#DICTIONARY
person = {"name": "sumit", "age":19 , "city": "mumbai"}
print(person["name"])

sumit

In [ ]:
"find factorial"
num = 5
factorial = 1
for i in range(1, num + 1):
    factorial *= i
print(f"Factorial of {num} is {factorial}")

Factorial of 5 is 120

In [ ]:
"list comprehension"
squares = [x ** 2 for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
"find max and min"
numbers = [5, 12, 9, 1, 8]
print("Max:", max(numbers))
print("Min:", min(numbers))

Max: 12
Min: 1

In [ ]:
"set operation"
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))  # Union
print(set1.intersection(set2))  # Intersection
print(set1.difference(set2))  # Difference

{1, 2, 3, 4, 5}
{3}
{1, 2}

In [ ]:
text = "Python is great"
print("Length of the string:", len(text))

Length of the string: 15

In [ ]:
text = "Python"
reversed_text = text[::-1]
print("Reversed string:", reversed_text)

Reversed string: nohtyP

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined = list1 + list2
print("Combined List:", combined)

Combined List: [1, 2, 3, 4, 5, 6]

In [ ]:
#common element in two list
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
common_elements = list(set(list1) & set(list2))
print("Common Elements:", common_elements)

Common Elements: [3, 4]

In [ ]:
"convert string into uppercase"
text = "hello world"
upper_text = text.upper()
print(upper_text)

HELLO WORLD

In [ ]:
"sort a list"
numbers = [10, 2, 5, 7, 3]
numbers.sort()
print("Sorted List:", numbers)

Sorted List: [2, 3, 5, 7, 10]

In [ ]:
"remove duplicate from list"
numbers = [1, 44, 44, 3, 89, 89, 74, 56, 56, 5]
unique_numbers = list(set(numbers))
print("Unique Numbers:", unique_numbers)

Unique Numbers: [1, 3, 5, 74, 44, 56, 89]

In [ ]:
"sum of list element"
numbers = [34, 66, 100, 91, 4, 5]
total = sum(numbers)
print("Sum:", total)

Sum: 300

In [ ]:
"remove an element from list"
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print("List after removal:", fruits)

List after removal: ['apple', 'cherry']

In [ ]:
#zip two lists together
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]
zipped = list(zip(names, ages))
print("Zipped List:", zipped)

Zipped List: [('Alice', 25), ('Bob', 30), ('Charlie', 35)]

In [ ]:
#create a list of even number
even_numbers = [x for x in range(1, 11) if x % 2 == 0]
print("Even Numbers:", even_numbers)

Even Numbers: [2, 4, 6, 8, 10]

In [ ]:
#multiply elements in the list
numbers = [2, 3, 4]
result = 3
for num in numbers:
    result *= num
print("Product of list elements:", result)

Product of list elements: 72

In [ ]:
"find a difference between two list"
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
difference = list(set(list1) - set(list2))
print("Difference:", difference)

Difference: [1, 2]

In [ ]:
#Find the Largest Number in a List
def find_max(nums):
    return max(nums)
print(find_max([3, 5, 7, 2, 8]))

8

In [ ]:
"List Comprehension: Get Even Numbers"
numbers = [1, 2, 3, 4, 5, 6, 7, 8]
evens = [num for num in numbers if num % 2 == 0]
print(evens)

[2, 4, 6, 8]

In [ ]:
"Find the Intersection of Two Lists"
def intersection(lst1, lst2):
    return list(set(lst1) & set(lst2))
print(intersection([1, 2, 3], [3, 4, 5]))

[3]

In [ ]:
#Get the Current Date and Time
from datetime import datetime

def current_datetime():
    return datetime.now()
print(current_datetime())

2025-03-21 18:43:00.816439

In [ ]:
"Find the Second Largest Number in a List"
def second_largest(nums):
    nums = list(set(nums))
    nums.sort()
    return nums[-2] if len(nums) > 1 else None
print(second_largest([10, 20, 4, 45, 99]))

45

In [ ]:
"Get the First and Last Element of a List"
def first_last(lst):
    return lst[0], lst[-1] if lst else None, None
print(first_last([10, 20, 30, 40]))

(10, 40, None)

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
difference = list(set(list1) - set(list2))
print("Difference:", difference)

Difference: [1, 2, 3]

In [ ]:
"If-Else Statement with Multiple Conditions"
num = 5

if num > 0:
    print("The number is positive.")
elif num == 0:
    print("The number is zero.")
else:
    print("The number is negative.")

The number is positive.

In [ ]:
#Convert List of Strings to Uppercase
words = ["hello", "world", "python"]
upper_words = [word.upper() for word in words]
print("Uppercase Words:", upper_words)

Uppercase Words: ['HELLO', 'WORLD', 'PYTHON']

In [ ]:
#logical AND
x = 5
y = 10

if x > 0 and y > 0:
    print("Both x and y are positive numbers.")
else:
    print("At least one of x or y is not positive.")

Both x and y are positive numbers.

In [ ]:
#logical OR
x = -5
y = 10

if x > 0 or y > 0:
    print("At least one of x or y is positive.")
else:
    print("Both x and y are not positive.")

At least one of x or y is positive.

In [ ]:
"logical NOT"
x = 5

if not x < 0:
    print("x is not negative.")
else:
    print("x is negative.")

x is not negative.

In [ ]:
"combining multiple operator"
x = 15
y = 25
z = -10

if (x > 0 and y > 0) or (z < 0 and not x == 0):
    print("The condition is true.")
else:
    print("The condition is false.")

The condition is true.

In [ ]:
#nested if-else
num = 15

if num > 0:
    if num % 2 == 0:
        print(f"{num} is positive and even.")
    else:
        print(f"{num} is positive and odd.")
else:
    print(f"{num} is not positive.")

15 is positive and odd.

In [ ]:
#if-else with logical operators
num1 = 10
num2 = 20

if num1 > 5 and num2 < 25:
    print("Both conditions are true.")
else:
    print("One or both conditions are false.")

Both conditions are true.

In [ ]:
#swap two num
a = 10
b = 20
a, b = b, a
print("a:", a)
print("b:", b)

a: 20
b: 10

In [ ]:
#count digits in a num
number = 123456
count = len(str(number))
print(f"The number {number} has {count} digits.")

The number 123456 has 6 digits.

In [ ]:
"reverse a list"
my_list = [1, 2, 3, 4, 5]
reversed_list = my_list[::-1]
print("Reversed list:", reversed_list)

Reversed list: [5, 4, 3, 2, 1]

In [ ]:
#create a simple calculator
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    if y != 0:
        return x / y
    else:
        return "Cannot divide by zero!"

print("Select operation:")
print("1. Add")
print("2. Subtract")
print("3. Multiply")
print("4. Divide")

choice = input("Enter choice (1/2/3/4): ")
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

if choice == '1':
    print(f"{num1} + {num2} = {add(num1, num2)}")
elif choice == '2':
    print(f"{num1} - {num2} = {subtract(num1, num2)}")
elif choice == '3':
    print(f"{num1} * {num2} = {multiply(num1, num2)}")
elif choice == '4':
    print(f"{num1} / {num2} = {divide(num1, num2)}")
else:
    print("Invalid input")

Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
Enter choice (1/2/3/4): 3
Enter first number: 5
Enter second number: 10
5.0 * 10.0 = 50.0

In [ ]:
"match case"
def match_case(day):
    match day:
        case 1:
            return "Monday"
        case 2:
            return "Tuesday"
        case 3:
            return "Wednesday"
        case 4:
            return "Thursday"
        case 5:
            return "Friday"
        case 6:
            return "Saturday"
        case 7:
            return "Sunday"
        case _:
            return "Invalid day"

# Calling the function and printing the result
result = match_case(6)
print(result)  # This will print "Wednesday"

Saturday

In [ ]:
"Matching with Tuples"
def match_tuple(value):
    match value:
        case (0, 0):
            return "Origin"
        case (0, y):
            return f"Y-axis at {y}"
        case (x, 0):
            return f"X-axis at {x}"
        case (x, y):
            return f"Point at ({x}, {y})"
        case _:
            return "Not a valid point."

# Test the function
print(match_tuple((0, 0)))
print(match_tuple((3, 0)))
print(match_tuple((0, 5)))
print(match_tuple((2, 3)))

Origin
X-axis at 3
Y-axis at 5
Point at (2, 3)

In [ ]:
#Matching with Lists
def match_list(value):
    match value:
        case [1, 2, 3]:
            return "Matched the list [1, 2, 3]"
        case [x, y]:
            return f"Matched a list with two elements: {x} and {y}"
        case _:
            return "Did not match any specific list."

# Test the function
print(match_list([1, 2, 3]))
print(match_list([5, 10]))
print(match_list([1, 2, 3, 4]))

Matched the list [1, 2, 3]
Matched a list with two elements: 5 and 10
Did not match any specific list.

In [ ]:
"using guard"
def match_with_guard(value):
    match value:
        case x if x < 0:
            return "Negative number"
        case x if x == 0:
            return "Zero"
        case x if x > 0:
            return "Positive number"
        case _:
            return "Not a number"

# Test the function
print(match_with_guard(-5))
print(match_with_guard(10))
print(match_with_guard(0))

Negative number
Positive number
Zero

In [ ]:
"Matching Classes"
class Dog:
    def bark(self):
        return "Woof!"

class Cat:
    def meow(self):
        return "Meow!"

def match_animal(animal):
    match animal:
        case Dog():
            return animal.bark()
        case Cat():
            return animal.meow()
        case _:
            return "Unknown animal"

# Test the function
dog = Dog()
cat = Cat()
print(match_animal(dog))
print(match_animal(cat))

Woof!
Meow!

In [ ]:
"Nested Patterns"
def match_nested(value):
    match value:
        case {"type": "circle", "radius": r}:
            return f"Circle with radius {r}"
        case {"type": "rectangle", "width": w, "height": h}:
            return f"Rectangle with width {w} and height {h}"
        case _:
            return "Unknown shape"

# Test the function
print(match_nested({"type": "circle", "radius": 5}))
print(match_nested({"type": "rectangle", "width": 4, "height": 6}))
print(match_nested({"type": "triangle"}))

Circle with radius 5
Rectangle with width 4 and height 6
Unknown shape

In [ ]:
"Matching with Multiple Patterns"
def match_multiple_patterns(value):
    match value:
        case 1 | 2 | 3:
            return "You selected one of the first three numbers."
        case 4 | 5 | 6:
            return "You selected one of the next three numbers."
        case _:
            return "Number out of range."

# Test the function
print(match_multiple_patterns(1))
print(match_multiple_patterns(5))
print(match_multiple_patterns(7))

You selected one of the first three numbers.
You selected one of the next three numbers.
Number out of range.

In [ ]:
"Matching with Wildcards"
def match_with_wildcard(value):
    match value:
        case (x, y, _):
            return f"Matched a tuple with first two elements: {x} and {y}"
        case _:
            return "Did not match a tuple."

# Test the function
print(match_with_wildcard((1, 2, 3)))
print(match_with_wildcard((4, 5)))

Matched a tuple with first two elements: 1 and 2
Did not match a tuple.

In [ ]:
"Matching with Dictionaries"
def match_dictionary(value):
    match value:
        case {"name": name, "age": age} if age >= 18:
            return f"{name} is an adult."
        case {"name": name, "age": age} if age < 18:
            return f"{name} is a minor."
        case _:
            return "Invalid data."

# Test the function
print(match_dictionary({"name": "Alice", "age": 20}))
print(match_dictionary({"name": "Bob", "age": 15}))
print(match_dictionary({"name": "Charlie"}))

Alice is an adult.
Bob is a minor.
Invalid data.

In [ ]:
#Combining Match with Functions
def process_command(command):
    match command:
        case ("add", x, y):
            return x + y
        case ("subtract", x, y):
            return x - y
        case ("multiply", x, y):
            return x * y
        case ("divide", x, y) if y != 0:
            return x / y
        case ("divide", _, 0):
            return "Cannot divide by zero."
        case _:
            return "Unknown command."

# Test the function
print(process_command(("add", 5, 3)))
print(process_command(("subtract", 10, 4)))
print(process_command(("multiply", 2, 3)))
print(process_command(("divide", 8, 0)))

8
6
6
Cannot divide by zero.