<a href="https://colab.research.google.com/github/gloriii03/Python-Program/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import datetime
a="Sumit"
b=19

print("Hello",a,"you are",b,"years old")

year = (datetime.datetime.today().year)-b

print('Your year of birth is',year)

Hello Sumit you are 19 years old
Your year of birth is 2006

In [ ]:
#adding two numbers
num1=10
num2=20
num1+num2

30

In [ ]:
#swapp two numbers
num1,num2=num2,num1
print("num1",num2)
print("num2",num1)

num1 10
num2 20

In [ ]:
import numpy as np

# Create a NumPy array with numbers from 1 to 100
array = np.arange(1, 101)

# Reshape array into a 10x10 matrix
matrix = array.reshape(10, 10)

# Calculate sum of each row
row_sums = np.sum(matrix, axis=1)

# Calculate sum of each column
column_sums = np.sum(matrix, axis=0)

# Print resulting arrays of row sums and column sums
print("Row sums:")
print(row_sums)

print("\nColumn sums:")
print(column_sums)

Row sums:
[ 55 155 255 355 455 555 655 755 855 955]

Column sums:
[460 470 480 490 500 510 520 530 540 550]

In [ ]:
import pandas as pd

# Sample data for 10 students
data = {
    'Name': [
        'Sumit Singh', 'Abhinav Sharma', 'Achintya Tiwari', 'Sumit Yadav',
        'Ronaldo', 'Akshay Kumar', 'Chhota Bheem', 'Obaid',
        'Narendra Modi', 'Virat Kohli'
    ],
    'Age': [
        20, 19, 21, 22,
        24, 19, 18, 25,
        22, 23
    ],
    'Major': [
        'Computer Science', 'Mathematics', 'Physics', 'Biology',
        'Chemistry', 'Engineering', 'Mathematics', 'Computer Science',
        'Biology', 'Physics'
    ],
    'GPA': [
        5.8, 5.8, 5.8, 5.8,
        7.6, 7.1, 8.7, 5.8,
        8.8, 9.0
    ]
}

# Create a DataFrame
students_df = pd.DataFrame(data)

# Display the DataFrame
print(students_df)

              Name  Age             Major  GPA
0      Sumit Singh   20  Computer Science  5.8
1   Abhinav Sharma   19       Mathematics  5.8
2  Achintya Tiwari   21           Physics  5.8
3      Sumit Yadav   22           Biology  5.8
4          Ronaldo   24         Chemistry  7.6
5     Akshay Kumar   19       Engineering  7.1
6     Chhota Bheem   18       Mathematics  8.7
7            Obaid   25  Computer Science  5.8
8    Narendra Modi   22           Biology  8.8
9      Virat Kohli   23           Physics  9.0