<a href="https://colab.research.google.com/github/gloriii03/Python-Program/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import datetime
a="Sumit"
b=19

print("Hello",a,"you are",b,"years old")

year = (datetime.datetime.today().year)-b

print('Your year of birth is',year)

Hello Sumit you are 19 years old
Your year of birth is 2006

In [4]:
#adding two numbers
num1=10
num2=20
num1+num2

30

In [5]:
#swapp two numbers
num1,num2=num2,num1
print("num1",num2)
print("num2",num1)

num1 10
num2 20